body {
	font-family: 'Helvetica Neue';
	background: #F5FCD0;
	color: #636DE6;
	font-size: 18px;
}

#main-container {
	margin-top: 150px;
	text-align: center;
	width: 700px;
	margin: 0 auto;
}

.ui-page { -webkit-backface-visibility: hidden; }

a:link, a:visited {
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	background: #323232;
	padding: 3px;
	border-radius: 3px;
}

a:hover, a:active {
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	background: #646464;
	padding: 3px;
	border-radius: 3px;
}

#main-container input.antwoord {
	width: 100px;
	display: inline;
	background: #fff;
	color: #000;
}
